parameters:
    slim:
        container:
            settings:
                displayErrorDetails: true
    google:
        client:
            applicationName: RezervaceToyopneu
            keyFile: config/auth.json
        calendar:
            id: rezervace.toyopneu@gmail.com
    security:
        client_secret: somesecretkey
